.cbp_tmtimeline {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 8px;
	background: #ac2953;
	margin-left: 78px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
	margin-top: 8px;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 18px;
	color: #ac2953;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 18px;
	color: #ac2953;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #94294C;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin-left: 120px;
	background: none;
	color: #5B5E60;
	position: relative;
	border-radius: 5px;
	display: inline-block;
}
@media screen and (max-width: 992px) {
	.cbp_tmtimeline > li .cbp_tmlabel { display: block; }
}

.cbp_tmtimeline > li .cbp_tmlabel .acc-trigger {
	margin-bottom: 0px;
	padding: 8px 65px 8px 18px;
}

@media screen and (max-width: 992px) {
	.cbp_tmtimeline > li .cbp_tmlabel .acc-trigger { display: block; }
}

.cbp_tmtimeline > li .cbp_tmlabel .acc-trigger a {
	color: #5B5E60;
	font-size: 16px;
	font-weight: 300;
}

.cbp_tmtimeline > li .cbp_tmlabel .acc-trigger:hover {
	background: #EDEDED;
}

.cbp_tmtimeline > li .cbp_tmlabel .acc-trigger:hover a {
	color: #5B5E60;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: none;
	border: none;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
	color: white;
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #CFCFCF;
	border-width: 7px;
	top: 15px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #CFCFCF;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 44px;
	height: 44px;
	font-size: 16;
	line-height: 34px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: white;
	border-radius: 50%;
	border: solid 5px #ac2953;
	text-align: center;
	margin-left: 60px;
}

.cbp_tmtimeline > li .cbp_tmicon span {color:#ac2953;}


/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 0;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #cfcfcf;
		top: -14px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #cfcfcf;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

